import Axu{{properCase name}} from '../src/{{name}}.vue'

export default {
  title: 'Axu{{properCase name}}',
  component: Axu{{properCase name}}
}

export const {{properCase name}} = _ => ({
  components: { Axu{{properCase name}} },
  template: `
    <div>
      <axu-{{name}}></axu-{{name}}>
    </div>
  `
})